# Created by https://www.toptal.com/developers/gitignore/api/pawn
# Edit at https://www.toptal.com/developers/gitignore?templates=pawn

### PAWN ###
# Compiled Bytecode, precompiled output and assembly
*.o

# Vendor directory for dependencies
dependencies/
build/

# Dependency versions lockfile
pawn.lock

# IDE setting files
settings.json
tasks.json
.vscode/*.json
.vs/*

# End of https://www.toptal.com/developers/gitignore/api/pawn

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
